<div class="widget-right-corner-actions">
  <div class="widget-right-corner-action" (click)="onWidgetCopy.emit()">
    <i
      nz-icon
      nzType="copy"
      nzTooltipTitle="复制"
      [nzTooltipPlacement]="['top']"
      nz-tooltip
      nzTheme="outline"
    ></i>
  </div>
  <div class="widget-right-corner-action" (click)="onWidgetDelete.emit()">
    <i
      nz-icon
      nzType="delete"
      nzTooltipTitle="删除"
      [nzTooltipPlacement]="['top']"
      nz-tooltip
      nzTheme="outline"
    >
    </i>
  </div>
  <div class="instance-node-selector">
    <div class="instance-node-selector-content">
      <span class="instance-node-selector-content-title">
        <span class="title-text">
          {{ name }}
        </span>
      </span>
    </div>
  </div>
</div>
