.text-panel {
    padding: 15px 15px;
    .panel-box {
        display: flex;
        padding-left: 15px;
        margin-bottom: 10px;
        flex: 1;
        align-items: center;
        &>div {
            margin-right: 10px;
        }
        .title {
            width: 40px;
        }
        .input {
            input {
                width: 50px;
            }
        }
        .select {
            select {
                width: 80px;
            }
        }
    }
}