<div class="main_container">
  <header>
    <h2>可视化-编辑器</h2>
    <button nz-button nzType="link" (click)="tooglePageMode()">预览</button>
  </header>
  <main class="main_container_main">
    <!-- Left sidebar -->
    <aside class="main_container_left">
      <div class="container-title">组件库</div>
      <ng-template #toolContainer></ng-template>
      <button nz-button nzBlock>JS 动作面板</button>
    </aside>

    <!-- Main content -->
    <article class="main_container_middle">
      <div
        #compArea
        class="viewport"
        (drop)="onCompAreaDrop($event)"
        (dragover)="$event.preventDefault()"
      >
        <ng-template #compAreaContainer></ng-template>
      </div>
    </article>

    <!-- Right sidebar -->
    <nav class="main_container_right">
      <div
        [ngClass]="{
          'content-panel': true,
          'no-selected-widget': !selectedWidgets.length
        }"
      >
        <app-widget-setting
          [ref]="selectedWidgets[0]"
          *ngIf="selectedWidgets.length === 1"
        ></app-widget-setting>
        <div *ngIf="!selectedWidgets.length">请在左侧画布选中节点</div>
      </div>
    </nav>
  </main>
  <!-- <main *ngIf="pageMode === '2'">预览</main> -->
  <footer>
    <div (click)="preview()" style="height: 30px">预览</div>
  </footer>
</div>

<nz-modal [(nzVisible)]="showPreview" nzTitle="预览">
  <ng-container *nzModalContent>
    <ng-template #previewContainer></ng-template>
  </ng-container>
</nz-modal>
