<div class="main_container">
  <header>
    <h2>可视化-编辑器</h2>
  </header>
  <main class="main_container_main">
    <!-- Left sidebar -->
    <aside class="main_container_left">
      <div class="container-title">组件库</div>
      <ng-template #toolContainer></ng-template>
    </aside>

    <!-- Main content -->
    <article class="main_container_middle">
      <div
        #compArea
        class="viewport"
        (drop)="onCompAreaDrop($event)"
        (dragover)="$event.preventDefault()"
      >
        <ng-template #compAreaContainer></ng-template>
      </div>
    </article>

    <!-- Right sidebar -->
    <nav class="main_container_right">
      <div
        [ngClass]="{
          'content-panel': true,
          'no-selected-widget': !selectedWidgets.length
        }"
      >
        <app-widget-setting
          [ref]="selectedWidgets[0]"
          *ngIf="selectedWidgets.length === 1"
        ></app-widget-setting>
        <div *ngIf="!selectedWidgets.length">请在左侧画布选中节点</div>
      </div>
    </nav>
  </main>
  <!-- <footer>
    <div style="text-align: center; line-height: 30px">Footer</div>
  </footer> -->
</div>
