<div class="panel-container">
    <div class="comp-drop-container">
        <div class="main">
            <span class="back-origin"></span>
            <div #compArea  class="viewport"
            (drop)="onCompAreaDrop($event)"
            (dragover)="$event.preventDefault()"
            > <ng-template #compAreaContainer></ng-template></div>
        </div>
    </div>
    <div class="right-side">
        <div class="tool-container">
            <div class="container-title">
                组件库
            </div>
            <div class="divider"></div>
            <div class="container-items">
                    <ng-template #toolContainer></ng-template>
            </div>
        </div>
        <div class="setting-container">
            <div class="container-title">
                设置
            </div>
            <div class="divider"></div>
            <div class="content-panel">
                <app-widget-setting [ref]="selectedWidgets[0]" 
                 *ngIf="selectedWidgets.length === 1"></app-widget-setting>
            </div>
        </div>
    </div>
</div>

<button (click)="getData()">获取数据</button>