<div class="property-setting-item">
    <app-text [ref]="ref"></app-text>
</div>
<div class="property-setting-item">
    <app-size [ref]="ref"></app-size>
</div>
<div class="property-setting-item">
    <app-type [ref]="ref"></app-type>
</div>
<div class="property-setting-item">
    <app-shape [ref]="ref"></app-shape>
</div>
<div class="property-setting-item">
    <app-ghost [ref]="ref"></app-ghost>
</div>
<div class="property-setting-item">
    <app-disable [ref]="ref"></app-disable>
</div>
<div class="property-setting-item">
    <app-loading [ref]="ref"></app-loading>
</div>
