<!-- <div (dblclick)="onTextWidgetClick($event)">
  <span
    #textEle
    [ngStyle]="{
      'width.px': widgetData.setting.style.layout.width,
      'height.px': widgetData.setting.style.layout.height,
      'font-size.px': widgetData.setting.style.text.fontSize,
      'line-height.px': widgetData.setting.style.text.lineHeight,
      'font-weight': widgetData.setting?.style?.text?.fontWeight,
      opacity: widgetData.setting?.style?.background?.opacity,
      background: widgetData.setting.style.background.color
        ? widgetData.setting.style.background.color
        : 'none',
      color: widgetData.setting.style.text.color
        ? widgetData.setting.style.text.color
        : 'inherit'
    }"
    [ngClass]="widgetData.setting.attribute.size"
    (blur)="contentEditableBlur()"
  >
    {{ widgetData.setting.attribute.text }}
  </span>
</div> -->
<input
  *ngIf="
    widgetAttribute.inputType === 'single' ||
    widgetAttribute.inputType === 'secure'
  "
  [type]="widgetAttribute.inputType === 'secure' ? 'password' : 'text'"
  nz-input
  [readonly]="widgetData.mode === widgetMode.Editor"
  [placeholder]="widgetAttribute.placeholder"
  [nzSize]="widgetAttribute.size"
  [disabled]="widgetAttribute.disabled!"
  [ngModel]="widgetAttribute.text"
  (ngModelChange)="onModelChange($event)"
  (focus)="onFocus()"
/>
<textarea
  *ngIf="widgetAttribute.inputType === 'multiple'"
  nz-input
  [rows]="widgetAttribute.rows"
  [ngModel]="widgetAttribute.text"
  [readonly]="widgetData.mode === widgetMode.Editor"
  [placeholder]="widgetAttribute.placeholder"
  [disabled]="widgetAttribute.disabled!"
></textarea>
