<app-widget-setting-collapse-pane [panel]="pane">
  <app-sortable-columns-list
    [ref]="ref"
    [columnList]="columns"
    (onItemEdit)="onTableColumnEdit($event)"
    (onItemDelete)="onTableColumnDelete($event)"
    (onItemAdd)="onTableColumnAdd()"
  ></app-sortable-columns-list>
</app-widget-setting-collapse-pane>
<br />
<app-widget-setting-collapse-pane [panel]="dataSourcePane">
  <button
    nz-button
    nzType="primary"
    nzBlock
    (click)="onTableDatasourceSetting()"
  >
    设置数据源
  </button>
</app-widget-setting-collapse-pane>
