.column-setting-item-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 4px;
    background-color: #f7f7f7;
    border-radius: 4px;
    .drag-item {
        width: 18px;
        height: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: move;
        i {
            opacity: .6;
        }
    }
    .input {
        display: flex;
        align-items: center;
        flex: 1;
        margin-right: 45px;
        margin-left: 4px;
        .input-wrap{
            width: 50%;
            margin: 4px 0;
            padding: 0 2px;
        }
    }
    .action{
        position: absolute;
        right: 6px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        .action-wrap {
            cursor: pointer;
            margin-left: 3px;
            i{
                font-size: 14px;
            }
        }
    }
}
