<div class="sortable-columnlist-wrap">
  <div
    *ngIf="columnList.length"
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
  >
    <div
      cdkDrag
      *ngFor="let item of columnList; let i = index"
      class="drag-item"
    >
      <div *cdkDragPlaceholder>
        <app-sortable-columns-list-item
          [data]="item"
        ></app-sortable-columns-list-item>
      </div>
      <div class="sortable-list-item">
        <app-sortable-columns-list-item
          [data]="item"
          (onEdit)="onListItemEdit($event, i)"
          (onDelete)="onListItemDelete(i)"
        ></app-sortable-columns-list-item>
      </div>
    </div>
  </div>
  <div>
    <button nz-button nzType="primary" (click)="onItemAdd.emit()">
      添加一项
    </button>
  </div>
</div>
