<nz-pagination
  [nzPageSize]="widgetData.setting.attribute.pageSize"
  [nzPageIndex]="widgetData.setting.attribute.pageIndex"
  [nzDisabled]="widgetData.setting.attribute.disabled"
  [nzShowQuickJumper]="widgetData.setting.attribute.showQuickJumper"
  [nzShowSizeChanger]="widgetData.setting.attribute.showSizeChanger"
  [nzTotal]="widgetData.setting.attribute?.total"
  [nzSize]="widgetData.setting.attribute.size"
  [nzHideOnSinglePage]="widgetData.setting.attribute.hideOnSinglePage"
  [nzPageSizeOptions]="widgetData.setting.attribute.pageSizeOptions"
></nz-pagination>
