<nz-collapse>
    <nz-collapse-panel
    nzHeader="布局"
      [nzActive]="true"
    >
    <ng-template #layoutrender></ng-template>
    </nz-collapse-panel>
  </nz-collapse>
<nz-collapse>
    <nz-collapse-panel
    nzHeader="文字"
      [nzActive]="true"
    >
    <ng-template #textrender></ng-template>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-collapse>
    <nz-collapse-panel
    nzHeader="背景颜色"
      [nzActive]="true"
    >
    <ng-template #bgrender></ng-template>
    </nz-collapse-panel>
  </nz-collapse>