<div
  [ngClass]="{ 'widget-drag-detect-area': true, invisible: widgetMode === '2' }"
  appDraggableDetectArea
  [clssName]="'active'"
  (onDragDrop)="onWidgetDrop($event, 'top')"
  (onDragEnter)="onWidgetDragEnter($event)"
>
  <div class="inner">
    <span>放在这里</span>
  </div>
</div>
<div>
  <!-- <span *ngIf="widgetMode === '1'"> 组件id：{{ widgetData?.id }} </span> -->
</div>
<div
  appMouseMoveOut
  #widgetWrapper
  class="widget-wrapper"
  [ngClass]="{
    selected: !!status
  }"
  (mousedown)="onMouseEvent($event)"
  (emitMouseType)="onMouseMoveEvent($event)"
>
  <div
    [ngClass]="{
      widget: true,
      disabled: widgetMode === '2'
    }"
  >
    <div class="widget-name">
      {{ widget.name }}
    </div>
    <div class="widget-actions">
      <app-widget-right-corner-action
        [name]="widget.name"
        (onWidgetCopy)="copyWidget.emit()"
        (onWidgetDelete)="deleteWidget.emit()"
      ></app-widget-right-corner-action>
    </div>
    <ng-template></ng-template>
  </div>
</div>

<div
  class="widget-profie"
  *ngIf="profileTemporary$ | async"
  [ngStyle]="(profileTemporary$ | async).styleContent"
>
  <div class="inner"></div>
</div>
<div
  [ngClass]="{ 'widget-drag-detect-area': true, invisible: widgetMode === '2' }"
  appDraggableDetectArea
  [clssName]="'active'"
  (onDragDrop)="onWidgetDrop($event, 'bottom')"
  (onDragEnter)="onWidgetDragEnter($event)"
>
  <div class="inner">
    <span>放在这里</span>
  </div>
</div>
