<div
  appMouseMoveOut
  #widgetWrapper
  class="widget-wrapper"
  [ngClass]="{
    selected: !!status
  }"
  (mousedown)="onMouseEvent($event)"
  (emitMouseType)="onMouseMoveEvent($event)"
>
  <div class="widget">
    <div class="widget-name">{{ widget.name }}</div>
    <div class="widget-actions">
      <app-widget-right-corner-action
        [name]="widget.name"
      ></app-widget-right-corner-action>
    </div>
    <ng-template></ng-template>
  </div>
</div>

<div
  class="widget-profie"
  *ngIf="profileTemporary$ | async"
  [ngStyle]="(profileTemporary$ | async).styleContent"
>
  <div class="inner"></div>
</div>
