.widget-wrapper {
    width: auto;
    height: auto;
    margin: 4px 8px;
    border: 2px solid transparent;
    position: relative;
    z-index: 2;
    cursor: pointer;
    &.selected {
        border: 2px solid var(--primary-color);
        border-radius: 2px;
        z-index: 9999;
        .widget {
            .widget-actions {
                display: block;
            }
        }
    }
    .widget {
        user-select: none;
        white-space: pre-line;
        width: 100%;
        height: 100%;
        position: relative;
        .widget-name {
            // display: none;
            // opacity: 0.5;
            // position: absolute;
            // top: -20px;
            font-weight: 600;
            padding: 6px 0;
            color: #333;
        }
        .widget-actions {
            position: absolute;
            right:0;
            top: -25px;
            width: auto;
            height: auto;
            display: none;
        }
        &:hover {
            .widget-name {
                display: block;
            }
        }
    }
    .selection-border {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

// 组件轮廓
.widget-profie {
    border: 1px dashed var(--primary-color);
   position: absolute;
    z-index: 1;
    .inner {
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        opacity: 0.1;

    }
}