<div class="table-widget">
  <!-- 动态加载顶部操作 -->

  <div class="header">
    <div class="toolbar"></div>
    <div class="searchbar">
      <input
        placeholder="请搜索"
        nz-input
        [(ngModel)]="tableQuery.searchKey"
        (keyup.enter)="onSearch()"
      />
    </div>
  </div>
  <div class="content">
    <nz-table [nzData]="widgetData.attribute.datas">
      <thead>
        <tr>
          <th *ngFor="let header of widgetData.attribute.columns">
            {{ header.title }}
          </th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of widgetData.attribute.datas">
          <td *ngFor="let header of widgetData.attribute.columns">
            {{ data[header.name] }}
          </td>
          <!-- <td>{{ data.name }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.price }}</td> -->
          <td>
            <a>Action 一 {{ data.name }}</a>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="bottom"></div>
  <!-- 动态加载分页器 -->
</div>
