<div (dblclick)="onTextWidgetClick($event)" >
    <span  #textEle 
    
    [ngStyle]="{
        'width.px':widgetData.setting.style.layout.width,
        'height.px':widgetData.setting.style.layout.height,
        'font-size.px': widgetData.setting.style.text.fontSize,
        'line-height.px': widgetData.setting.style.text.lineHeight,
        'font-weight': widgetData.setting?.style?.text?.fontWeight,
        'opacity': widgetData.setting?.style?.background?.opacity
    }"
    [ngClass]="widgetData.setting.attribute.size"
    (blur)="contentEditableBlur()">
    {{widgetData.setting.attribute.text}}
    </span>
</div>
